<ion-header class="ion-no-border mt-40" [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo aviso de pago</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()"
                  color="danger"
                  >
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="totalDeuda > 0 || nuevoAvisoDePago.mesesPagados.length > 0">
    <!-- PASO 1 -->
    <div *ngIf="paso === 1" class="ion-padding">
      <!-- Total Deuda -->
      <div>
        <ion-chip color="warning" mode="ios" outline="false" class="ion-text-left">
          <ion-label>Total Pendiente: ${{totalDeuda | number : '1.0-0'}}</ion-label>
        </ion-chip>
        <ion-badge *ngIf="!verElFuturo" class="proximos-periodos" color="success" mode="ios"(click)="verElFuturo = !verElFuturo;">Ver próximos períodos</ion-badge> 
        <ion-badge *ngIf="verElFuturo" class="proximos-periodos" color="success" mode="ios" (click)="verElFuturo = !verElFuturo;">Ver sólo períodos atrasados</ion-badge>
      </div> 
      <div *ngIf="!verElFuturo">
        <div *ngIf="totalDeuda === 0"
              class="ion-text-center"
              >
          <img class="ion-padding" src="assets/images/no-data-10.png"/><br>
          <ion-text color="primary">
            <strong>Felicitaciones!!</strong><br>
            <strong>estás al día en tus pagos.</strong>
          </ion-text>
        </div>   
      </div>
      <br>
      <!-- Lista de períodos -->
      <ion-list *ngIf="nuevoAvisoDePago.mesesPagados.length > 0">
        <!-- itemes obligatorios -->
        <div *ngFor="let mes of nuevoAvisoDePago.mesesPagados; let i = index"
             class="ion-no-padding">
          <ion-grid fixed *ngIf="mes.fecha <= fechaCorte">
            <!-- PERIODOS -->
            <ion-row>
              <ion-col size="8"                   
                        style="padding-top: 15px;"
                        >
                <span class="periodo" [ngClass]="{'texto-atrasado': mes.fecha <= fechaCorte}">{{mes.fecha | date: 'MMMM - yyyy' }} - ${{ mes.monto | number : '1.0-0'}} </span>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-thumbnail *ngIf="nuevoAvisoDePago.mesesPagados[i].documento.length > 0"
                              style="display: inline-block; vertical-align: middle;"
                                >
                    <a [href]="nuevoAvisoDePago.mesesPagados[i].documento" target="_blank" rel="noopener noreferrer">            
                    <img style="border-radius: 6px; height: -webkit-fill-available;" [src]="nuevoAvisoDePago.mesesPagados[i].documento" />
                    </a>
                </ion-thumbnail>
                <ion-icon *ngIf="nuevoAvisoDePago.mesesPagados[i].documento.length === 0"
                          name="attach-sharp" 
                          (click)="abrirGaleria(i)"
                          size="large"
                          color="primary"
                          >
                </ion-icon>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-icon name="trash-outline"
                          color="danger"
                          size="large"
                          *ngIf="nuevoAvisoDePago.mesesPagados[i].documento.length > 0"
                          (click)="deseleccionarMes(i)"
                          style="vertical-align: text-bottom;"
                          >
                </ion-icon>
                <ion-icon *ngIf="nuevoAvisoDePago.mesesPagados[i].documento.length === 0"
                          name="camera-sharp" 
                          (click)="tomarFoto(i)"
                          size="large"
                          color="primary"
                          >
                </ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- itemes opcionales -->
          <div *ngIf="mes.fecha > fechaCorte && verElFuturo">
            <div class="ion-no-padding">
              <ion-grid fixed>
                <div *ngIf="mes.fecha > fechaCorte && verElFuturo">
                  <!-- PERIODOS -->
                  <ion-row>
                    <ion-col size="8"                   
                             style="padding-top: 15px;"
                             >
                      <span class="periodo" [ngClass]="{'texto-atrasado': mes.fecha <= fechaCorte}">{{mes.fecha | date: 'MMMM - yyyy' }} - ${{ mes.monto | number : '1.0-0'}} </span>
                    </ion-col>
                    <ion-col size="2" class="ion-text-center">
                      <ion-thumbnail *ngIf="nuevoAvisoDePago.mesesPagados[i].documento.length > 0"
                                    style="display: inline-block; vertical-align: middle;"
                                     >
                         <a [href]="nuevoAvisoDePago.mesesPagados[i].documento" target="_blank" rel="noopener noreferrer">            
                          <img style="border-radius: 6px; height: -webkit-fill-available;" [src]="nuevoAvisoDePago.mesesPagados[i].documento" />
                         </a>
                      </ion-thumbnail>
                      <ion-icon *ngIf="nuevoAvisoDePago.mesesPagados[i].documento.length === 0"
                                name="attach-sharp" 
                                (click)="abrirGaleria(i)"
                                size="large"
                                color="primary"
                                >
                      </ion-icon>
                    </ion-col>
                    <ion-col size="2" class="ion-text-center">
                      <ion-icon *ngIf="nuevoAvisoDePago.mesesPagados[i].documento.length > 0"
                                name="trash-outline"
                                color="danger"
                                size="large"
                                (click)="deseleccionarMes(i)"
                                style="vertical-align: text-bottom;"
                                >
                      </ion-icon>
                      <ion-icon *ngIf="nuevoAvisoDePago.mesesPagados[i].documento.length === 0"
                                name="camera-sharp" 
                                (click)="tomarFoto(i)"
                                size="large"
                                color="primary"
                                >
                      </ion-icon>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-grid>
            </div>
          </div>
        </div>
      </ion-list>  
      <!-- Total Aviso -->
      <div *ngIf="totalAviso > 0" class="boton-total-aviso">
        <ion-label>
          <ion-badge color="warning" mode="ios" class="boton-deuda">
            Total Aviso: ${{totalAviso | number : '1.0-0'}}
          </ion-badge>
        </ion-label>
      </div> 
      <!-- Botón Siguiente -->
      <ion-row *ngIf="verElFuturo || totalDeuda > 0">
        <ion-col>
          <div class="ion-text-center tam-12">
            <ion-button (click)="siguiente()" class="p-x-40"
                        [disabled]="validacionAvisoP1 != 'OK'">
              Siguiente
            </ion-button>
          </div>    
        </ion-col>
      </ion-row>
      <!-- VALIDACION PASO 1-->
      <div *ngIf="verElFuturo || totalDeuda > 0">
        <ion-card *ngIf="(validacionAvisoP1 != 'OK') && paso === 1"
                  class="ion-text-center mb-50" color="light">
          <ion-card-header>
            <ion-card-subtitle>Para continuar debes...</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="validacion">
            {{validacionAvisoP1}}
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="validacionAvisoP1 === 'OK' && paso === 1"
                  class="ion-text-center" color="light">
          <ion-card-header>
            <ion-card-subtitle class="validacion-ok">Ya puedes continuar tocando el botón Siguiente</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
    <!-- PASO 2 -->
    <div *ngIf="paso === 2">
        <!-- Nombre de quién transfiere -->
        <div class="ion-padding" style="margin-top: 10px;" color="light">
          <ion-label color="primary" position="stacked">Nombre y apellido de quien transfiere: </ion-label>
          <ion-input placeholder="Quien realiza la transferencia"
                     [(ngModel)]="nuevoAvisoDePago.transfiere"
                     name="transfiere"
                     type="text"
                     required
                     debounce="1000"
                     (ionChange)="validarAviso()"
                     style="border-bottom: 1px solid;"
                     >
          </ion-input>
        </div>
      <!-- Botones Anterior y Siguiente -->
      <ion-row>
        <ion-col class="centrado">
          <div class="ion-text-center tam-12">
            <ion-button (click)="anterior()" class="p-x-20">
              Anterior
            </ion-button>
          </div>    
          <div class="ion-text-center tam-12">
            <ion-button (click)="siguiente()"
                        class="p-x-20"
                        [disabled]="validacionAvisoP2 != 'OK'">
              Siguiente
            </ion-button>
          </div>    
        </ion-col>
      </ion-row>
      <!-- VALIDACION PASO 2-->
      <ion-card *ngIf="(validacionAvisoP2 != 'OK') && paso === 2"
                class="ion-text-center mb-50" color="light">
        <ion-card-header>
          <ion-card-subtitle>Para continuar debes...</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="validacion">
          {{validacionAvisoP2}}
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="validacionAvisoP2 === 'OK' && paso === 2"
                class="ion-text-center" color="light">
        <ion-card-header>
          <ion-card-subtitle class="validacion-ok">Ya puedes continuar tocando el botón Siguiente</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div *ngIf="paso === 3">
      <!-- Fecha de la transferencia -->
      <div class="ion-padding" color="light">
        <ion-label color="primary" position="stacked">Fecha de la transferencia: </ion-label>
        <ion-badge *ngIf="fechaTransf" color="success" mode="ios"> {{fechaTransf | fechaCorta : 'DD-MMM-YYYY' : ''}}</ion-badge>
        <ion-datetime 
                      displayFormat="DD MMM YYYY" 
                      (ionChange)="validarAviso()"
                      first-day-of-week="1"
                      mode="ios"
                      monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                      name="fechaTransferencia"
                      [(ngModel)]="fechaTransf"
                      pickerFormat="DD MMM YYYY"
                      presentation="date"
                      required
                      size="cover"
                      >
        </ion-datetime>
      </div>
      <!-- Botones Anterior y Siguiente -->
      <ion-row>
        <ion-col class="centrado">
          <div class="ion-text-center tam-12">
            <ion-button (click)="anterior()" class="p-x-20">
              Anterior
            </ion-button>
          </div>    
          <div class="ion-text-center tam-12">
            <ion-button (click)="siguiente()"
                        class="p-x-20"
                        [disabled]="validacionAvisoP3 != 'OK'">
              Siguiente
            </ion-button>
          </div>    
        </ion-col>
      </ion-row>
      <!-- VALIDACION PASO 3-->
      <ion-card *ngIf="(validacionAvisoP3 != 'OK') && paso === 3"
                class="ion-text-center mb-50" color="light">
        <ion-card-header>
          <ion-card-subtitle>Para continuar debes...</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="validacion">
          {{validacionAvisoP3}}
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="validacionAvisoP3 === 'OK' && paso === 3"
                class="ion-text-center" color="light">
        <ion-card-header>
          <ion-card-subtitle class="validacion-ok">Ya puedes continuar tocando el botón Siguiente</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
    
    <div *ngIf="paso === 4">
        <!-- Observaciones -->
        <div class="ion-padding" color="light">
          <ion-label color="primary" position="stacked">Observaciones: </ion-label>
          <ion-textarea placeholder="Puedes escribir aquí alguna observación al encargado de revisar tu aviso de pago."
                        [(ngModel)]="nuevoAvisoDePago.obsResidente"
                        name="observaciones"
                        spellcheck = "true"
                        >
          </ion-textarea>  
        </div>
      <!-- Botones Anterior y Enviar Aviso -->
      <ion-row>
        <ion-col class="centrado">
          <div class="ion-text-center tam-12">
            <ion-button (click)="anterior()">
              Anterior
            </ion-button>
          </div>    
          <div class="ion-text-center tam-12">
            <ion-button (click)="guardarAvisoDePago()">
              Enviar Aviso de Pago
            </ion-button>
          </div>    
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
