<app-header titulo="Políticas de Privacidad"></app-header>

<ion-content class="tam-12 ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
            La política de privacidad específica cómo y cuándo son utilizados tus datos personales.
        </ion-text>
        <p>
            <ion-text><h5>¿Cómo obtenemos tus datos?</h5></ion-text>
            <ion-text>De tí mismo, al crearte una cuenta de cliente y de la información que vamos obteniendo acerca de tu uso en esta aplicación.</ion-text>
        </p>
        <p>
            <ion-text><h5>¿Para qué los usamos?</h5></ion-text>
            <ion-text>Para poder completar nuestro servicio de información y pagos, mejorar nuestro servicio, evitar fraudes y consultar tu opinión acerca de los servicios recibidos.</ion-text>
        </p>
        <p>
            <ion-text><h5>¿Cuándo se eliminan?</h5></ion-text>
            <ion-text>Al eliminar tu cuenta de cliente o solicites la cancelación de tus datos personales..</ion-text>
        </p>
        <p>
            <ion-text><h5>¿Compartimos tus datos con terceros?</h5></ion-text>
            <ion-text>NO, toda tu información es manejada de manera reservada, no tenemos asociación con terceros que requieran tu información de alguna manera.</ion-text>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
