<ion-card class="selectable" color="light" *ngIf="accesos && accesos.length > 0 && fbSrvc.expandidoAccesos">
    <ion-card-header>
        <ion-card-subtitle class="tam-18" (click)="fbSrvc.expandidoAccesos = !fbSrvc.expandidoAccesos">
            <ion-grid>
                <ion-row>
                    <ion-col size="2">
                        <ion-icon color="primary" name="remove-circle-outline" size="large">
                        </ion-icon>
                    </ion-col>
                    <ion-col size="7" class="ion-text-center">
                        <strong class="initial tam-30 text-encabezados">Mis Visitas </strong>
                    </ion-col>
                    <ion-col size="3">
                        <ion-badge color="primary" mode="ios">{{accesos.length}}</ion-badge>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-subtitle>
        <ion-card class="card-acceso"
                    *ngFor="let acc of accesos; let i = index" 
                    >
            <ion-card-header>
                <ion-card-subtitle class="tam-16">
                    {{ acc.fecha |fechaCorta: 'dddd DD-MMM @HH:mm' : '' }}
                    <ion-text color="primary" class="tam-12 ion-float-right"><i>{{acc.fecha | fechaCorta : '' : 'pasado' }}</i></ion-text>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Visitante: <ion-text color="primary">{{ acc.nombreVisitante }}</ion-text> <br>
                Patente: <ion-text color="primary">{{ acc.patente }}</ion-text> <br>
                Autorizado por: <ion-text color="primary">{{ acc.guardia }}</ion-text> <br>
                Observaciones: <ion-text color="primary">{{ acc.obs }}</ion-text> <br>
                <ion-chip *ngIf="!acc.residenteResponde" mode="ios" color="primary" class="ion-float-right">
                    <ion-label>Residente no contactado</ion-label>
                </ion-chip>
                <ion-chip *ngIf="acc.residenteResponde" mode="ios" color="danger" class="ion-float-right">
                    <ion-label>Residente contactado ({{acc.duracion / 60 | number : '1.0-0'}} mins.)</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
    </ion-card-header>
</ion-card>

<ion-card color="light" *ngIf="accesos && accesos.length > 0 && !fbSrvc.expandidoAccesos">
    <ion-card-header>
        <ion-card-subtitle class="tam-18" (click)="fbSrvc.expandidoAccesos = !fbSrvc.expandidoAccesos">
            <ion-grid>
                <ion-row>
                    <ion-col size="2">
                        <ion-icon color="primary" name="add-circle-outline" size="large">
                        </ion-icon>
                    </ion-col>
                    <ion-col size="7" class="ion-text-center">
                        <strong class="initial tam-30 text-encabezados">Mis Visitas </strong>
                    </ion-col>
                    <ion-col size="3">
                        <ion-badge color="primary" mode="ios">{{accesos.length}}</ion-badge>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-subtitle>
    </ion-card-header>
</ion-card>
<ion-card *ngIf="accesos && accesos.length === 0" class="ion-text-center ion-padding" color="medium">
    <ion-card-subtitle>No hay datos de accesos aún.</ion-card-subtitle>
</ion-card>