<ion-app style="margin-bottom: 40px;">
  <ion-menu contentId="main-content" type="reveal">
    <ion-header class="ion-no-border mt-40" [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
                <ion-chip color="primary" class="tam-10">{{ fbSrvc.persona.nombres }} {{ fbSrvc.persona.apellidoPaterno }} - {{ fbSrvc.persona.calle }} {{ fbSrvc.persona.numero }}</ion-chip>
                <!-- <ion-chip color="primary" class="tam-10">{{ fbSrvc.persona.calle }}-{{ fbSrvc.persona.numero }}</ion-chip> -->
                <ion-icon name="shield-checkmark-sharp"
                            color="primary"
                            *ngIf="fbSrvc.persona.esAdmin"
                            >
                </ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content style="padding-top: 0;">
        <ion-list id="inbox-list" style="padding-top: 0;">
            <ion-menu-toggle autoHide="false" *ngFor="let p of fbSrvc.appPages; let i = index">
                <ion-item *ngIf="p.visible"
                        (click)="selectedIndex = i" 
                        routerDirection="root" 
                        [routerLink]="[p.url]" 
                        lines="none" 
                        detail="false" 
                        [class.selected]="selectedIndex === i"
                        >
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
                <ion-item lines="none"
                        *ngIf="fbSrvc.persona.esAdmin"
                        (click)="usuarios()"
                        >
                <ion-icon slot="start" name="people-sharp"></ion-icon>
                <ion-label>Validar Usuarios</ion-label>
                </ion-item>
                <ion-item lines="none">
                <ion-icon slot="start" name="moon-sharp"></ion-icon>
                <ion-label>Modo Oscuro</ion-label>
                <ion-toggle (ionChange)="fbSrvc.toggleDarkTheme(!fbSrvc.dark, 'html')"
                            name="darkMode"
                            [checked]="fbSrvc.dark"
                            mode="ios">
                </ion-toggle>
                </ion-item>
                <ion-item lines="none"(click)= "cerrarSesion()">
                <ion-icon slot="start" name="log-out-sharp"></ion-icon>
                <ion-label>Cerrar Sesión</ion-label>
                <ion-toggle [ngModel]="!fbSrvc.parametros.identificado"
                            name="sesion"
                            mode="ios">
                </ion-toggle>
                </ion-item>
                <ion-item lines="none" *ngIf="fbSrvc.actualizarApp">
                <ion-icon *ngIf="fbSrvc.actualizarApp && fbSrvc.esAndroid" slot="start" name="logo-google-playstore" color="primary"></ion-icon>
                <a [href]="fbSrvc.parametrosFB.urlAppAndroid">
                    <ion-label>Act. Disponible</ion-label>
                </a>
                </ion-item>
                <ion-item lines="none" *ngIf="!fbSrvc.actualizarApp">
                    <ion-icon *ngIf="fbSrvc.esAndroid" slot="start" name="logo-google-playstore"></ion-icon>
                    <ion-label>
                    <ion-text> Versión: 
                        <ion-chip color="primary" mode="ios" outline="false" class="ion-text-center">
                        <ion-label *ngIf="!fbSrvc.verAppStr"> Cargando... </ion-label>
                        <ion-label *ngIf="fbSrvc.verAppStr">{{ fbSrvc.verAppStr }}</ion-label>
                        </ion-chip>
                    </ion-text> 
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>                                  
        </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
