.padding-t-20 {
    padding-top: 20px;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.diseño-1 {
    img {
        float: right;
        max-width: 60%;
        padding: 10px;
        border-radius: 20px;
    }
    text-align: justify;
}
ion-list {
    border-radius: 20px;
}