<ion-card class="selectable" color="success" *ngIf="emergencias.length > 0 && fbSrvc.expandidoEmergencias">
    <ion-card-header>
        <ion-card-subtitle class="tam-18" (click)="fbSrvc.expandidoEmergencias = !fbSrvc.expandidoEmergencias">
            <ion-grid>
                <ion-row>
                    <ion-col size="2">
                        <ion-icon color="primary" name="remove-circle-outline" size="large">
                        </ion-icon>
                    </ion-col>
                    <ion-col size="7" class="ion-text-center">
                        <strong class="initial tam-30 text-encabezados">Emergencias </strong>
                    </ion-col>
                    <ion-col size="3">
                        <ion-badge color="primary" mode="ios">{{emergencias.length}}</ion-badge>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-subtitle>
        <br>
        <div *ngFor="let emergencia of emergencias; let i = index" color="success" class="tam-16">
            <p>{{i+1}}.- En {{ emergencia.idDireccion }} 
                <ion-text color="primary" class="tam-12">
                    (<i>{{ emergencia.fechaInicio | fechaCorta : '' : 'pasado'}}</i>)
                </ion-text>
            </p>
            <p class="tam-18"><strong>{{ emergencia.obs}}</strong></p>
            <p>
                Supervisada por:
                <ion-text color="primary">
                    {{ emergencia.guardia}}
                </ion-text>
            </p>
            <p>
                <ion-item color="success" class="ion-no-padding">
                    Estado actual:
                    <ion-text color="danger" *ngIf="emergencia.estado !== 'Cerrada'" class="ion-padding">
                        <strong> {{ emergencia.estado }} </strong>
                    </ion-text>
                    <ion-text color="primary" *ngIf="emergencia.estado === 'Cerrada'" class="ion-padding">
                        {{ emergencia.estado }}
                    </ion-text>

                </ion-item>
            </p>
        </div>
    </ion-card-header>
</ion-card>

<ion-card color="success" *ngIf="emergencias.length > 0 && !fbSrvc.expandidoEmergencias">
    <ion-card-header>
        <ion-card-subtitle class="tam-18" (click)="fbSrvc.expandidoEmergencias = !fbSrvc.expandidoEmergencias">
            <ion-grid>
                <ion-row>
                    <ion-col size="2">
                        <ion-icon color="primary" name="add-circle-outline" size="large">
                        </ion-icon>
                    </ion-col>
                    <ion-col size="7" class="ion-text-center">
                        <strong class="initial tam-30 text-encabezados">Emergencias </strong>
                    </ion-col>
                    <ion-col size="3">
                        <ion-badge color="primary" mode="ios">{{emergencias.length}}</ion-badge>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-subtitle>
    </ion-card-header>
</ion-card>
<ion-card *ngIf="emergencias.length === 0" class="ion-text-center ion-padding" color="medium">
    <ion-card-subtitle>No hay emergencias aún.</ion-card-subtitle>
</ion-card>