<ion-content fullscreen ion-padding scroll-y="false" [ngClass]="{'mt-40': fbSrvc.esAndroid}">
  <ion-slides pager="true" class="ion-padding" style="border-top: 50px;">
    <ion-slide>
      <img src="assets/images/slide-4.png"/>
      <h2>Bienvenido a <br><b>Comunidad Segura</b></h2>
      <p class="ion-padding">La aplicación diseñada para su seguridad y la de su familia.</p>
      <div class="ion-padding ion-text-center" style="display: inline-flex; margin-bottom: 20px;">
        <ion-label color="primary"> Desliza para avanzar </ion-label>
        <!-- <ion-icon color="primary" size="large" name="arrow-forward-outline"></ion-icon> -->
      </div>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slide-5a.png"/>
      <h2>Reciba ayuda inmediata</h2>
      <p class="ion-padding">Botón de pánico conectado a sus vecinos y guardias.</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slide-6.png"/>
      <h2>Registre sus visitas</h2>
      <p>Revise los accesos a su domicilio.</p>
      <ion-button fill="clear" 
                  (click)="primeraVez()"
                  size="large"
                  >
          Toca para empezar 
        <!-- <ion-icon slot="end" name="arrow-forward"></ion-icon> -->
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>